// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

$font-family-serif:       "Josefin Slab", Georgia, serif !default;

.page-wrapper{
  z-index: 3;
  position: relative;
}
.header-main{
  text-align: center;
}
.events{
  list-style: none;
  padding-left: 0;
  font-size: 1.5em;
}
.section{
  margin-top: 5em;
}
.park-block{
  @include clearfix();
  margin: 10em 0 5em 0;
  text-align: center;
}
.footer{
  padding: 10em 0 5em 0;
}
h1{
  font-family: $font-family-serif;
  text-transform: uppercase;
}
body{
  overflow-x: hidden;
}
