---
title: Our Mission
---
.park-block.header-main
  .container
    .row
      .col-xs-12
        %h1.section
          %span.text-primary {
          %span code park
          %span.text-primary }
    .row
      .col-xs-8.col-xs-offset-2
        %p.section Code Park brings technology education to K-12 and adults in the Houston area with fun classes and workshops focused on fundamental skills and experiences.
        %p.section In 2015 we are shifting our focus to reach under-resourced communities.
        / .section
        /   %p Sign up for our mailing list to get more information.

        /   #mc_embed_signup
        /     %form.validate#mc-embedded-subscribe-form.form-inline{:action=>"http://houstoncodepark.us7.list-manage1.com/subscribe/post?u=60e016044f1b65a57f9427b9b&amp;id=0669b73c37", :method=>"post", :name=>"mc-embedded-subscribe-form", :target=>"_blank", :novalidate=>true}
        /       .form-group
        /         %input.form-control.required.email#mce-EMAIL{:type=>"email"}
        /         %input.btn.btn-primary#mc-embedded-subscribe{:type=>"submit",:value=>"Subscribe",:name=>"subscribe"}
        /       .clear#mce-responses
        /         .response#mce-error-response{:style=>"display:none;"}
        /         .response#mce-success-response{:style=>"display:none;"}

