---
title: Our Mission
---
.park-block.header-main
  .container
    .row
      .col-xs-12
        %h1.section
          %span.text-primary {
          %span code park
          %span.text-primary }
    .row
      .col-xs-8.col-xs-offset-2
        %p.section Code Park brings technology education to K-12 and adults in the Houston area with fun classes and workshops focused on fundamental skills and experiences.
        %h1 Our Programs
        %h3 Code Park HS
        %p An after school class piloting in Spring 2015 aimed at preparing students at under-resourced schools for web development opportunities.
        %h3 Introduction to Coding with Minecraft!
        %p A class hosted at the Houston Public Library to introduce 12 - 16 year olds to coding and inspire students with it's creative power.
        %h1 Who we are

